<div class="customer">
    <h3><a href="{% url 'customer-detail' customer.pk %}">{{ customer.name }}</a></h3>
    <p> By {% for company in customer.companies.all %}
        <a href="{% url 'company-detail' company.pk %}"> {{ company.name }} </a>
        {% endfor %}
    </p>
    <p>position : {{ customer.fname }} </p>
    <p>{{ customer.review }} </p>
    <p class="meta">
        {% if customer.reviewed_by %}
          Reviewed by <strong> {{ customer.reviewed_by.get_full_name|default:customer.reviewed_by.username }}</strong>
        {% endif %}
    </p>
</div>